<div class="col-6">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.Project_Id}}" /required name="project">
    <label for="floatingInput">Project ID</label>
    </div>
    </div>
    <div class="col-6">
    <div class="form-floating">
    <input type="text" class="form-control" id="floatingPassword" value="{{this.Engineer_Id}}"  /required name="username">
    <label for="floatingPassword">Username</label>
    </div>
    </div>
    <div class="col-4">
    <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.Site}}"  /required name="site">
    <label for="floatingInput">Location </label>
    </div>
    </div>
    <div class="col-4">
    <div class="form-floating mb-3">
    <input type="date" class="form-control" id="floatingInput" value="{{this.Project_Deadline}}" /required name="deadline">
    <label for="floatingInput">Expected Deadline </label>
    </div>
    </div>
    <div class="col-12 d-grid">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</div>