<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
    <div class="row margin-bottom-10">
        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-grey">
                <h2 class="heading-md">Professional Nature</h2>
                <p>We are always at peak professionalism and stick to the planned schedule</p>                        
            </div>
        </div>
        <div class="col-md-4 col-sm-6">
            <div class="servive-block servive-block-yellow">
                <h2 class="heading-md">Budget Friendly</h2>
                <p>We provide all the standard benchmarks of the Government in the budget.</p>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="servive-block servive-block-dark-blue">            
                <h2 class="heading-md">High End Facilities</h2>
                <p>We use the latest techonlogy present in the industry for every project.</p>
            </div>
        </div>
    </div>
    
</div>
<section id="about-section" class="pt-5 pb-5">
    <div class="container wrapabout">
        <div class="red"></div>
        <div class="row">
            <div class="col-lg-6 align-items-center justify-content-left d-flex mb-5 mb-lg-0">
                <div class="blockabout">
                    <div class="blockabout-inner text-center text-sm-start">
                        <div class="title-big pb-3 mb-3">
                            <h3>ABOUT US</h3>
                        </div>
                        <p class="description-p text-muted pe-0 pe-lg-0">
                            We are a group of professional engineers and contrators that have been in the industry for about 20 years.
                        </p>
                        <p class="description-p text-muted pe-0 pe-lg-0">We have successfully completed around 100+ projects all across India.</p>
                        <div class="sosmed-horizontal pt-3 pb-3">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                        <a href="#" class="btn rey-btn mt-3">See More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mt-5 mt-lg-0">
                <img src="shivendu-shukla-3yoTPuYR9ZY-unsplash.jpg" alt="potoabout" style="height: 700px;width: 500px"/>
            </div>
        </div>
    </div>
</section>