
<div class="row">
  <div class="col-6">
    <h1>Labour for the project</h1>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Work</th>
      <th scope="col">Wage</th>
    </tr>
  </thead>
  <tbody>
     <div class="col-6 d-flex justify-content-end">
        <a href="/addlabour/" type="button" class="btn btn-primary align-self-center">+ Add Labourers</a>
      </div>
    {{#each rows}}
    <tr>
      <td>{{this.Name}}</td>
      <td>{{this.Work}}</td>
      <td>{{this.Daily_Wage}}</td>
    </tr>
  </div>
    {{/each}}
  </tbody>
</table>